* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-family: 'Modak', 'General Sans', 'Cormorant Garamond';
    font-size: 3.5rem;
    color: #ff4081;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

label {
    font-size: 1rem;
    color: #ffffff;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #ff4081;
}

p {
    color: #ffffff;
}

a {
    color: #ff4081;
    text-decoration: none;
    font-size: medium;
}

header, .navbar {
    background-color: #3f51b5;
    text-align: center;
    padding: 1rem;
}

.navbar {
    padding: 1rem;
    color: #ffffff;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    list-style: none;
}

.intro {
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    background-image: url('/myMusikfestival/IMG/Festival/background.webp');
}

.info {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.info p {
    color: #000000;
    text-align: center;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.genre-filter, .day-filter, .stage-filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.genre-filter label, .day-filter label, .stage-filter label {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
}

#genre-filter, #day-filter, #stage-filter {
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333333;
}

.filter-btn {
    width: 100%;
    padding: 1rem;
    background-color: #3f51b5;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: #303f9f;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 63, 159, 0.7); /* Semi-transparent overlay */
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-content {
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card-image {
    display: none;
}

.artists-wrapper {
    display: flex;
}

#card-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.artist-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #c5c5c5;
    border-radius: 10px;
    color: #ffffff;
}
.card-details {
    background-color: #3f51b5;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    width: 100%;
}

.corner-banner {
    position: absolute;
    top: 0;
    right: -65px;
    width: 200px;
    height: 50px;
    background-color: #da9515;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: 10;
    padding-left: 10px; 
}

.corner-banner:hover, .ticket:hover, .ticket-link:hover {
    background-color: #e91e63;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ticket-form label {
    display: none;
}

.ticket-form input {
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333333;
}

.ticket-form button {
    padding: 1rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.ticket-form button:hover {
    background-color: #0056b3;
}

.ticket-form .ticket-types p {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 0.5rem;
}

.ticket-form .ticket-types select {
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333333;
    width: 100%;
}

.ticket-form input, .ticket-form select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333333;
}

.price-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: #d3d3d3;
}


.cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: none;
}

.cart h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #333333;
    text-shadow: none;
}

.cart p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #666666;
}

.cart button {
    padding: 1rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.cart button:hover {
    background-color: #0056b3;
}

a:hover {
    color: #ffffff;
}

.ticket-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #3f51b5;
    border-radius: 10px;
}

.ticket-form p {
    font-size: 1rem;
    color: #000000;
}

.ticket-form p {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 0.5rem;
}

footer {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 1rem;
}

.footer-contact-info {
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: left;
}

.intro-image img {
    width: 100vw;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.info-card {
    background-color: #512da8;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.image img:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stage-card {
    background-color: #512da8;
}

.stage-contianer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.home-page {
    background-color: #3f51b5;
    border-radius: 10px;
}

.info-home-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-home-page p {
    color: #333333;
    text-align: left;
}

.img-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.img-gallery img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.img-gallery img {
    max-width: 10000px;
    height: auto;
    display: none;
    transition: opacity 1s;
}

.img-gallery img.active {
    display: block;
    opacity: 1;
}

.img-gallery img.fade-out {
    opacity: 0;
}

.img-gallery .prev, .img-gallery .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.img-gallery .prev {
    left: 10px;
}

.img-gallery .next {
    right: 10px;
}

.body-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artists-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stage-card {
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
}

@media (min-width: 800px) {
    .footer-info {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    #card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex: 3; /* Allow card container to take more space */
    }

    .card {
        flex: 1 1 300px;
        max-width: 300px;
    }

    .filters {
        flex-direction: column; /* Ensure filters are displayed vertically */
        gap: 1rem;
    }

    .aside {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        padding: 1rem;
        margin: 1rem;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        flex: 1;
    }

    .body-wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    .form-cart-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .cart {
        flex: 1;
        max-width: 900px;
    }

    .intro-image {
        display: none;
    }

    .artists-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        flex: 1 1 300px;
        max-width: 300px;
    }

    .stage-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-contact-info {
        text-align: left;
    }
}


