* {
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  background-color: #f9f9f9;
}

header {
    background-color: #063b01;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #063b01;
    color: #fff;
    padding: 2rem; 
}

.social-links, .contact {
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links img {
    max-width: 50px;
    max-height: 60px;
}

.nav-links, .social-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.nav-links a, .social-links a {
    text-decoration: none;
    color: #ffffff;
}


a {
    color: #77bfa3;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #e65907;
}

.about {
    background-color: #c7c5c580;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(255, 16, 218, 0.1);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 1rem;
}

.about-me {
    background-color: #c7c5c580;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(255, 16, 218, 0.1);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 1rem;
}


.project-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project {
    margin-bottom: 1rem;  
    box-shadow: 0px 5px 20px rgba(2, 37, 1, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 1rem;
}

.project-photo {
    width: auto;
    height: 300px;
    border-radius: 8px;
}

.project-icon {
    max-width: 100%;
    height: 150px;
    border-radius: 8px;
}

.profile-photo {
    border-radius: 8px;
}

.social-icon {
    border-radius: 8px; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    gap: 2rem;
}

label {
    display: flex;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
}

button.submit-btn, .project-btn {
    width: 100%;
    padding: 1rem;
    background-color: #e65907;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 1rem;
}

button.submit-btn:hover, .project-btn:hover {
    background-color: #ff9900;
    color: #334406;
} 

/* MOBILE STYLE*/


    

/* DESKTOP STYLE*/

    @media (min-width: 1040px) {
        .navbar {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        
        .about, .contact-form  {
            max-width: 1000px;
            max-height: 900px;
        }

        main {
            flex-direction: row;
            padding: 2rem;
            gap: 7rem;
        }

        .project-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
        }

        .project {
            flex: 1 1 300px;
            max-width: 300px;
        }
}