* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
}

main {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 8, 0.1);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

form label, 
legend {
    font-size: 0.9rem;
    color: #555;
}

input[type="text"],
input[type="email"],input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: hotpink;
    background-color: #ffe0f0;

}

input [type="checkbox"]:focus {
    outline: hotpink;
    outline-offset: 2px;
}

input[type="checkbox"] {
    margin-right: 1rem;
}

input [type="range"]:focus {
    outline: 2px solid hotpink;
    background-color: #ffe0f0;
}

fieldset {
    margin: 1rem 0px;
    border: none;
}

fieldset label {
    display: inline-flex;
    padding-top: 1rem;
    margin-right: 1.2rem;
}