body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  text-align: center;
}
main {
  align-items: center;
}

.navbar,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #334406;
  color: #e9da09;
  flex-shrink: 0;
  text-align: center;
}

.nav-links,
.footer-links,
.social-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a,
.footer-links a,
.social-links a {
  text-decoration: none;
  color: white;
}

.nav-cta {
  background: #e909cb;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.nav-cta:hover {
  background-color: #e9da09;
  color: #334406;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.products {
  flex: 3;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1200px;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
  max-width: 300px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 180px;
  align-content: center;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list a {
  text-decoration: none;
  color: #1a17cf;
}

.footer {
    padding-bottom: 2rem;
}

.aside {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  align-self: stretch;
}

.aside h4 {
  margin-bottom: 1rem;
}

img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
}

.product-card {
  display: flex;
  text-align: center; /* Centrerar text och bild */
  margin-bottom: 20px; /* Lägger till lite utrymme mellan korten */
}

.product-card img {
  max-width: 100%;
  max-height: 100%;
}

/* TABLET STYLES */

@media (min-width: 760px) {
    .navbar,
    .footer {
      flex-direction: row;
    }

    .nav-links,
    .footer-links,
    .social-links {
        flex-direction: row;
    }

    .nav-cta {
        margin-top: 0rem;
    }
    
    .aside section {
        width: 100%;
    }
    /* DESKTOP STYLES */
  @media (min-width: 1024px) {
    .aside {
      flex-direction: row;
    }
  }
  
}